// body
@import './utilites/var';
@import './utilites/general-classes';
// head
@import './components/header-navigation';
@import './components/header-contacts';
@import './components/header-socials';
@import './components/header-menu';
// main-index
@import './components/index-hero';
@import './components/index-features';
@import './components/index-specialization';
@import './components/index-team';
@import './components/index-socials';
@import './components/index-clients';
// main-portfolio
@import './components/portfolio-filter';
@import './components/portfolio-projects';
// footer
@import './components/footer';
@import './components/footer-address';
@import './components/footer-socials';
@import './components/footer-subscribe';
// modal
@import './components/modal-basis';
@import './components/modal-form';
@import './components/modal-form-element';
@import './components/modal-form-comment';
@import './components/modal-form-checkbox';