.footer {
    background-color: var(--main-background);
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        &_flex {
            display: flex;
            align-items: center;
        }
    }

    @media screen and (min-width: 1200px) {
        & {
            justify-content: center;
        }
    }
}

.footer__logo{
    padding: 0;
}



.footer_logo--white {
    padding: 0;
    margin-bottom: 20px;
    color: var(--button-color);
    display: inline-block;
}

.footer-div {
   
    justify-content: center;
    text-align: center;

@media screen and (min-width: 768px) {
        & {
           display: flex;
        }
    }
    @media screen and (min-width: 1200px) {
        & {
            padding-top: 0;
            text-align: left;
        }
    }

}
