.header {

    border-bottom: 1px solid #ECECEC;

    &__flex {
        display: flex;
        align-items: center;
    }
}

.nav-box {
    display: flex;
    align-items: center;

    &__logo--remark {
        margin-right: 93px;
        color: #000000;
    }

    &__list {
        display: flex;
        gap: 50px;
    }
}

.nav-box__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.current {
    color: var(--accent-color);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        left: 0px;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}