.form-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 40px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--title-text-color);

    & label {margin-bottom: 4px;}

    & textarea {
        padding: 12px 16px;
        width: 100%;
        height: 120px;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
            outline: none;}
        
        &::placeholder {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);}
    }
}