.form-element {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--title-text-color);

    &__icon {
        position: absolute;
        display: flex;
        bottom: 11px;
        left: 52px;
        width: 18px;
        height: 18px;
        justify-content: center;
        align-items: center;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    & label {margin-bottom: 4px;
    }

    & input {
            padding-left: 42px;
            width: 100%;
            height: 40px;
            font-size: 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
            outline: none;}
    
        &:hover+.form-element__icon,
        &:focus+.form-element__icon {fill: #188CE8;}
    }
}