.projects__list {
@media screen and (min-width: 768px) {
        & {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}

.projects__item {
    margin-bottom: 30px;
    flex-basis: calc((100% - 30px * 2)/3);
    background: var(--button-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        & {
            margin-bottom: 0;
            flex-basis: calc((100% - 30px)/2);
        }
    }

    @media screen and (min-width:1200px) {
        & {
            flex-basis: calc((100% - 30px * 2)/3);
        }
    }

    &:hover,
    &:focus {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}

    &:hover+.projects__example,
    &:focus+.projects__example { box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
}

.project__img {
    position: relative;
    overflow: hidden;
}

.menu.is-open .project__img {
    opacity: 0;}

.projects__overlay {
    position: absolute;
    display: flex;
    bottom: -100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--button-color);
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);

    .projects__example:hover &,
    .projects__example:focus & {
        opacity: 1;
        transform: translateY(-100%);}
}

.projects__content {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.project__subtitle {
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project__text {
    padding-bottom: 20px;
    padding-left: 24px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}