.container {
    padding-left: 15px;
        padding-right: 15px;
        margin: auto;

    @media screen and (min-width: 480px) {
        & {
            width: 480px;
        }

    }

    @media screen and (min-width: 768px) {
        &{
            width: 768px;
        }

    }

    @media screen and (min-width: 1200px) {
        &{
            width: 1200px;
        }

    }
}


.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        & {
            padding-top: 94px;
            padding-bottom: 94px;
        }
    }
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.logo {
font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
    @media (max-width:767px){
        &{
         padding: 16px 0;
        }
    }

    @media screen and (min-width: 768px) {
        & {
            padding: 0;
        }
    }
    @media screen and (min-width: 1200px) {
             & {
               font-size: 26px;
             }
         }
}

.secondary-name {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
 @media (min-width:1200px) {
    &{
    margin-bottom: 50px ;}
        font-size: 36px;
       
 }
}

.name {
    margin-top: 12px;
margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}