:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --button-color: #FFFFFF;
    --accent-color: #2196F3;
    --contact-color: rgba(255, 255, 255, 0.6);
    --filter-color: #F5F4FA;
    --main-background: #2F303A;
    --hero-background: #F5F4FA;
    --icon-color: #AFB1B8;
}

body {
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    color: var(--primary-text-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}